

form{
	  max-width: 500px;
  margin: 20px auto;
}
form#uploadPhoto{
  margin-top: 100px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;

}

#signuppage h1{
  font-size: 95px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;
}


.signup{
/*float:left;*/
margin-right:10px;
}

#blah{
	max-width: 640px;
}



.contentOptionsWrapper{
  margin:0 auto;
  max-width:600px;

}

ul#contentOptions{
	padding:0;
  overflow: auto;
}




ul#contentOptions li{
  list-style: none;
  max-width: 140px;
  width: 100%;
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
}

ul#contentOptions li img{
  width:100%;
}


.glyphicon-plus{
  font-size:34px;
}

.options{
  font-size:64px;
}


.bootstrap-switch{
    margin: 0 auto;
    display: block;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-moduleon{
  background: #FE4600;
  color:#fff;
}