form{
	max-width:500px;
}
form#uploadPhoto{
  margin-top: 100px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;

}

#blah{
	max-width: 640px;
}

.addModule{
	display:none;
}
ul{
	padding:0;
}

.addModule  li{
 list-style: none;
}

.addModule  li img{
	max-width:200px;
}