html, body{
  margin:0;
      font-family: 'Raleway', sans-serif;
      font-weight: 200;

} 

h2{
  color: #ffffff;
  margin-top: 10px;
  font-size: 26px;
  text-transform: uppercase;
}

h3{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: -1px;
  margin:0;
}


.globalHeader{
position: fixed;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  overflow: hidden;
  width: 100%;
  /* border-bottom: 1px solid #c4c4c4; */
  height: 50px;
  background: black;
  z-index: 99999999;
}


#timeline{
  display: none;
  position: fixed;
  top: 65px;
  right: 0;
  width: 300px;
  height: 275px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  color: white;
}


.carouselWrapperOuter{
    padding-top: 25px;
}



.carouselWrapperOuter:nth-child(2n) {
  background: rgba(221, 221, 221, 0.8);
  width:100%;
}



.carouselWrapper{

	margin: 0 auto;
	position: relative;
	padding-left: 20px;
}

.itemTitle, .itemTitle-rectangle{
font-size: 14px;
margin-top:5px;
display: block;
float: left;
text-align: center;
 /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

#skeetSlider{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: block; 
}

#skeetSlider img {
  width: 100%; }


.playing{
    background: rgba(0,0,0,0.8);
}

.closeBtn{
  width: 80px!important;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

iframe{
  margin-bottom: 30px;
}

.skeetOuterWrapper{
    position: fixed;
  z-index: 999999;
  width: 100%;
  top: 30px;
}

.marginOne{
  margin-top: 300px;
}
.marginTwo {
  margin-top: 360px;
}

.marginThree {
  margin-top: 520px;
}


#skeetHeader{
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.profileimage{
  display: none;
}

.contentBox{
  margin-bottom: 30px;
}




.artwork{
  max-width: 200px;
  float:left;
}

.musicInfo{
  float:left;
}
.artistDetails{
  float: left;
  color: #ffffff;
  margin-left: 20px;
  font-size: 18px;
  max-width: 400px;
}


.trackTitle{
  
  color: #c4c4c4;
}


.controls{
  color: #c4c4c4;
}
.glyphicon{
  font-size: 3rem;
}
.activeWrapper{
position: absolute;
    right: 10px;
    top: 9px;
}

.activeEndpPoints{
    width: 25px;
    height:25px;
    float: left;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
        margin-left: 5px;
}
.activeEndpPoints img{
      width: 100%;
}

#followBtn{
    color: #000;
    position: absolute;
    right: 20px;
    top: 6px;
    z-index: 9999999999;
    font-size: 17px;
    border-radius: 20px;
}

#followcount{
    font-size: 28px;
    line-height: 28px;
        color: #fff;
}
.followersCount{
color: #c4c4c4;
    position: absolute;
    right: 120px;
    top: 3px;
    z-index: 9999999999;
    font-size: 11px;
    text-align: center;
}


ul.trackList{
color: #585858;
  font-size: 16px;
  height: 120px;
  overflow: auto;
  padding-left: 20px;
  padding-top: 10px;
  width: 380px;
}

ul.trackList li{
margin-bottom: 6px;
  list-style: none;
  font-family: arial;
  font-size: 14px;
  text-transform: lowercase;
}

.activeTrack{
  color:#ffffff;
}


#discoveryPage{
  margin-top:50px;
}
.discoveryBuckets{
    height: 200px;
    position: relative;
    overflow: hidden;

}

.discoveryBg{
    width: 110%;
    position: absolute;
    left:0;
    top:-20px;
}


.discoveryBucketsOverlay{
position: absolute;
bottom:0;
left:0;
width: 100%;
background: rgba(0,0,0,0.77);
color: #fff;
padding:3%;

}

/*Carousel Styles*/

@media only screen and (min-width : 320px){
#skeetSlider, #skeetHeader{
max-width: 320px;
margin:0 auto;
}

.carouselWrapper{
	width: 320px;
}

ul[rn-carousel] {
  width: 300px;
  height: 220px;
  }

ul[rn-carousel] > li.square{
	width:150px;
  overflow: hidden;
}

ul[rn-carousel] > li.rectangle{
	width:300px;
  overflow: hidden;

}

.squareThumb{
  width: 130px;
  height: 130px;
  float: left;
}
.itemTitle{
  width: 130px;
}

.rectangleThumb{
  width: 280px;
  height: 158px;
  float: left;
}

.itemTitle-rectangle{
  width: 280px;
}

.carouselWrapper img {
	width:100%;
}

.rn-carousel-control.rn-carousel-control-next {
right: 4%;
  top: 35%;
}

.rn-carousel-control.rn-carousel-control-prev {
left: -2%;
  top: 35%;
}

.rectWrapper  .rn-carousel-control.rn-carousel-control-prev , .rectWrapper  .rn-carousel-control.rn-carousel-control-next{
	top:37%;
}




/*player stuff*/

.artistDetails {
  float: left;
  color: #ffffff;
  margin-left: 40px;
  font-size: 16px;
  max-width: 200px;
  padding-top: 7px;
}
.artwork{
  max-width: 60px;
  float:left;
}

  .musicInfo{
  float: left;
  width: 100%;
  position: relative;
    margin-bottom: 30px;
}
.controlBoard {
  /* margin-left: 20px; */
  /* margin-top: 10px; */
  /* float: right; */
  position: absolute;
  left: 65px;
}

ul.trackList {
  color: #585858;
  font-size: 16px;
  height: 70px;
  overflow-y: auto;
  /* padding-left: 20px; */
  margin-top: 10px;
  width: 100%;
  float: left;
  padding: 0;
  clear: both;
}

ul.trackList li {
  margin-bottom: 4px;
  list-style: none;
  font-family: arial;
  font-size: 12px;
  text-transform: lowercase;
  border-bottom: 1px solid #777777;
  padding-bottom: 7px;
}

#welp{
display:none;
}

}

@media only screen and (min-width : 640px){
  #skeetSlider, #skeetHeader{
max-width: 640px;
margin:0 auto;
}
.carouselWrapper{
	width:640px;
}

ul[rn-carousel] > li.rectangle{
	width:205px;
}

ul[rn-carousel] {
  width: 580px;
  }


.itemTitle{
  width: 130px;
}

.rectangleThumb{
  width: 185px;
  height: 104px;
  float: left;
}
.itemTitle-rectangle{
  width: 185px;
}

.rn-carousel-control.rn-carousel-control-next {
right: 4%;
  top: 35%;
}

.rn-carousel-control.rn-carousel-control-prev {
left: -2%;
  top: 35%;
}

.rectWrapper  .rn-carousel-control.rn-carousel-control-prev , .rectWrapper  .rn-carousel-control.rn-carousel-control-next{
	top:28%;
}

/*player Controls*/
.controlBoard {
  left: 150px;
  top: 10px;
}
.artwork {
  max-width: 140px;
}
.glyphicon{
  font-size: 4rem;
}

.artistDetails {
  margin-left: 60px;
  font-size: 18px;
    width: 100%;
    max-width: 400px;
}
ul.trackList li {
  font-size: 14px;
  }

#playlistwave, #trackwave{
width: 75%;
height: 50px;
float:left;
margin-left: 15px;
margin-top: 20px;
display:block;
}

}


@media only screen and (min-width : 960px){
  #skeetHeader{
max-width: 900px;
  }
.carouselWrapper{
	width:960px;
}

ul[rn-carousel] {
  width: 900px;
  }

ul[rn-carousel] > li.square{
	width:180px;
}
ul[rn-carousel] > li.rectangle{
	width:300px;
}
.squareThumb{
  width: 160px;
  height: 160px;
  float: left;
}

.itemTitle{
  width: 160px;
}

.rectangleThumb{
  width: 280px;
  height: 158px;
  float: left;
}

.itemTitle-rectangle{
  width: 280px;
}

.rn-carousel-control.rn-carousel-control-next {
right: 4%;
  top: 40%;
}

.rn-carousel-control.rn-carousel-control-prev {
left: -2%;
  top: 40%;
}

.rectWrapper  .rn-carousel-control.rn-carousel-control-prev , .rectWrapper  .rn-carousel-control.rn-carousel-control-next{
	top:40%;
}


}