<form id="uploadPhoto" runat="server">
    <img id="blah" src="http://placehold.it/640x360" alt="your image" />
    <input type='file' id="imgInp" />
    
</form>

<div class="contentOptionsWrapper">
  <ul id="contentOptions">
   <li>
   	<img ng-click="scLogin()" src="img/soundcloud.png">
	<input type="checkbox"  class="switcher"  name="soundcloud-checkbox" checked>
   </li>
   <li >
   	<img ng-click="ytLogin()" src="img/YouTube-logo-full_color.png">
	<input type="checkbox"  class="switcher"  name="youtube-checkbox" checked>   	
   </li>
   <li >
   	<img ng-click="igLogin()" src="img/igicon.png">
    <input type="checkbox" class="switcher"  name="instagram-checkbox" checked>   	
   </li>
  </ul>
</div>



<div id="profile"></div>