<div class="container-fluid">
<div id="loggedInPage">

	<div class="row">

     <div class="discoveryBuckets col-md-8"  ng-click="openUser()" >
     	<img class="discoveryBg" ng-src="{{loggedIn.profileimage}}" />
     	<div class="discoveryBucketsOverlay">
     		{{loggedIn.username}}
     		<div class="activeWrapper">
     			<div ng-if="loggedIn.soundcloudOn == 'on' " class="activeEndpPoints"><img  ng-src="img/soundcloud.png"/></div>
     			<div ng-if="loggedIn.youtubeOn == 'on' " class="activeEndpPoints"><img ng-src="img/youtube-active.png"/></div>
     			<div ng-if="loggedIn.instagramOn == 'on' " class="activeEndpPoints"><img  ng-src="img/igicon.png"/></div>

     		</div>

     	</div>

     </div>

<div class="col-md-4">
     <div class="row">
          <div  class="newestuser col-sm-12"  ng-click="openUser()" >
               <img class="discoveryBg" ng-src="{{loggedIn.profileimage}}" />
               <div class="discoveryBucketsOverlay">
                    {{loggedIn.username}}
                    <div class="activeWrapper">
                         <div ng-if="loggedIn.soundcloudOn == 'on' " class="activeEndpPoints"><img  ng-src="img/soundcloud.png"/></div>
                         <div ng-if="loggedIn.youtubeOn == 'on' " class="activeEndpPoints"><img ng-src="img/youtube-active.png"/></div>
                         <div ng-if="loggedIn.instagramOn == 'on' " class="activeEndpPoints"><img  ng-src="img/igicon.png"/></div>
                    </div>
               </div>


          </div> 
           <div class="newestuser col-sm-12"  ng-click="openUser()" >
               <img class="discoveryBg" ng-src="{{loggedIn.profileimage}}" />
               <div class="discoveryBucketsOverlay">
                    {{loggedIn.username}}
                    <div class="activeWrapper">
                         <div ng-if="loggedIn.soundcloudOn == 'on' " class="activeEndpPoints"><img  ng-src="img/soundcloud.png"/></div>
                         <div ng-if="loggedIn.youtubeOn == 'on' " class="activeEndpPoints"><img ng-src="img/youtube-active.png"/></div>
                         <div ng-if="loggedIn.instagramOn == 'on' " class="activeEndpPoints"><img  ng-src="img/igicon.png"/></div>
                    </div>
               </div>


          </div>          
     </div>
                    
                    

</div>




</div>

</div>
</div>