
<div id="userPage">


<!-- twitter-->
<div id="timeline"></div>

<div id="skeetSlider" >
 <img ng-src="{{profileImage}}">

	<!--<ul>


		<li style="display: inline-block; -webkit-transform: translate3d(200%, 0px, 0px); opacity: 0;"> <img src="img/slider2.jpg"></li>
	</ul>-->
</div>

<soundcloud ng-repeat="data in homeMusic">
<div class="carouselWrapperOuter">
<div class="carouselWrapper">
	<h3>Music</h3>
	<ul rn-carousel rn-carousel-controls  rn-carousel-duration="300" class="image carouselholder">
		<li ng-repeat="music in homeMusic.data" class="square" data-url="{{music.id}}" ng-click="trackOpen()">
			<div class="squareThumb"><img ng-src="{{music.artwork_url | artworkCheck}}"></div>
			<div class="itemTitle">{{music.title}}</div>
		</li>
	</ul>
</div>
</div>
</soundcloud>
<div class="carouselWrapperOuter">
<div class="carouselWrapper rectWrapper">
	<h3>Video</h3>
	<ul rn-carousel rn-carousel-controls  rn-carousel-duration="300" class="image carouselholder">
		<li ng-repeat="video in homeVideo"  class="rectangle" data-url="{{video.snippet.resourceId.videoId}}" ng-click="videoOpen()">
			<div class="rectangleThumb"><img ng-src="{{video.snippet.thumbnails.medium.url}}"></div>
			<div class="itemTitle-rectangle">{{video.snippet.title}}</div>

		</li>
	</ul>
</div>
</div>

<div class="carouselWrapperOuter">
<div class="carouselWrapper">
	<h3>Instagram</h3>
	<ul rn-carousel rn-carousel-controls  rn-carousel-duration="300" class="image carouselholder">
		<li ng-repeat="item in homeIg" class="square" data-url="{{item.link}}">
			<div class="squareThumb"><img ng-src="{{item.images.standard_resolution.url}}"></div>
			<div class="itemTitle">#{{item.tags[0]}}</div>

		</li>
	</ul>
</div>
</div>


</div>